# ignore the package egg
FortranAPI.egg-info/
# ignore all fortran/C/C++related compiled files
*.mod
*.so
*.o
*.out
*.a

# ignore all python related files: 
__init__.py
*.pyc
*.ipynb
__pycache__/

# git command 
git_command_lst

# ignore the txt file 
*.txt

# ignore build folder 
build/

# ignore distribution
dist/*
old/*

# ignore the log file
*.log

# ignore the error, output, and slurm_script file 
*.err
*.out
run_script
